/*Sobre_a_empresa*/
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../imgs/wallpaper_sbt.jpg);
  background-size: auto;
}

a {
  text-decoration: none;
  color: #f3f4f6;
}

.logo {
  color: #f3f4f6;
  padding-left: 10px;
}

.topo {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #242c36;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  margin: 0px;
}

.menu li a {
  display: block;
  padding-left: 10px;
}

.menu li a:hover {
  text-decoration: underline;
  color: #f3f4f6;
}

.fim {
  display: block;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.propaganda {
  margin: 20px;
  background-position: center;
  background-image: url(../imgs/propaganda\ 3.2.jpg);
  width: 240px;
  height: 563px;
  color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1360px) {
  .menu li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .fim {
    padding-right: 32px;
  }

  .topo {
    justify-content: space-around;
  }

  .propaganda {
    background-image: url(imagens/propaganda\ 3p.jpg);
    width: 288px;
    height: 168px;
  }
}
.texto {
  background-color: #9ba3b4;
  width: 900px;
  height: auto;
  padding: 20px;
  margin: 20px;
}

/*rodapé*/

.footer {
  color: #f3f4f6;
  padding: 1px;
  background-color: #242c36;
  align-items: center;
  text-align: center;
}
